:root{
    --primary-color:#D72638;
    --secondary-color:#1c3fa8;
    --dark-color:#000;
    --light-color:#f4f4f4e3;
    --text-color: gray;
    --showcase-background: url("../img/code3.jpg");
}

/* Basic styling */

/* Universal selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', 'sans-serif';
    line-height: 1.6;
}

html, body {
    height: 100%;
    margin: 0;
  }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}

/* Navigation */
.navbar{
    position: fixed;
    right: 0;
}

.navbar .desktop{
    margin: 0 40px;
    padding-top: 10px;
}

.toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 20;
    cursor: pointer;
    margin: 10px;
}

.toggle:hover{
    cursor: pointer;
}

.navbar .line{
    background-color: var(--primary-color);
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 20%;

}

body{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 255, 0.055),
        rgba(0, 18, 66, 1)
        
      ), var(--showcase-background);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Showcase */
.showcase .container{
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.showcase h1{
    font-size: 92px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.initials{
    color: var(--primary-color);
}

.showcase h2{
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
}

footer .social a{
    margin: 0px 10px;
}