:root{
    --primary-color:#D72638;
    --secondary-color:#1c3fa8;
    --dark-color:#000;
    --light-color:#f4f4f4e3;
    --text-color: gray;
    --showcase-background: url("../img/code3.jpg");
}

/* Basic styling */

/* Universal selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', 'sans-serif';
    line-height: 1.6;
}

html, body {
    height: 100%;
    margin: 0;
  }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.flex{
    display: flex;
}



/* Navigation */

.nav{
    z-index: 20;
}

.toggle{
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    z-index: 30;
}

.toggle:hover{
    cursor: pointer;
}

.navbar .line{
    background-color: var(--primary-color);
    width: 40px;
    height: 4px;
    margin: 6px;
    border-radius: 20%;
}

.nav{
    font-size: 40px;
}

.nav form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

body{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 255, 0.055),
        rgba(0, 18, 66, 1)
        
      ), var(--showcase-background);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Showcase */
.showcase .container,
.nav{
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

 h1{
    font-size: 72px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    transition-duration: 0.8s;

}

.initials{
    font-size: 92px;
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}


.showcase h2{
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    transition-duration: 0.8s;

}

.shifted-left{
    transform:  translateY(-25vh);
    transition-duration: 0.8s;
    text-align: left;
    font-size: 40px;
}

.shifted-left .initials{
    transition-duration: 0.8s;
    font-size: 50px;
}


.shifted-right{
    transform:  translateY(20vh);
    transition-duration: 0.8s;
    display: inline-block;
    text-align: right;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 40;
}

footer .social a{
    margin: 0px 10px;
}

@media(max-width: 1100px){
  
}

@media(max-width: 500px){

    .shifted-left,
    .shifted-right
    {
        visibility: hidden;
        transition: none;
    }

    .shifted-left .initials{
        transition: none;
    }


    .showcase h1{
        font-size: 60px;
    }

    .initials{
        font-size: 72px;
    }

    .showcase h2{
        font-size: 32px;
    }

    footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav form{
        flex-direction: column;
    }
}