:root{
    --primary-color:#219ebc;
    --secondary-color: #001242;
    --dark-color:#000;
    --light-color:#f4f4f4e3;
    --text-color: black;
    --showcase-background: url("https://github.com/nemetht91/Portfolio/blob/main/static/img/code3.jpg?raw=true");
}

/* Basic styling */

/* Universal selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', 'sans-serif';
    line-height: 1.6;
}

html, body {
    height: 100%;
    margin: 0;
  }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.hidden{
    visibility: hidden;
}

.flex{
    display: flex;
}

body{
    background-image:  var(--showcase-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p{
    font-size: 1.1rem;
}

h1{
    font-size: 72px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    transition-duration: 0.8s; 
    color: #000;
}

/* Navigation */

.nav{
    z-index: 20;
}

.toggle{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 30;

}

.toggle:hover{
    cursor: pointer;
}

.navbar .line{
    background-color: var(--primary-color);
    width: 40px;
    height: 4px;
    margin: 6px;
    border-radius: 20%;
    transition-duration: 0.8s;

}

.nav{
    font-size: 40px;
    font-weight: 500;
    background-color:  rgba(0, 18, 66, 0.9);

}

.nav form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav a:hover{
    border-bottom: var(--primary-color) solid 2px;
    transition-duration: 0s;
}

.closed div:nth-child(1){
    transform: rotate(45deg) translateY(7px);
    transition-duration: 0.8s;
}

.closed div:nth-child(2){
    display: none;

}

.closed div:nth-child(3){
    transform: rotate(-45deg) translateY(-7px);
    transition-duration: 0.8s;
}




/* Showcase */
.showcase .container,
.nav{
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.75);
    
}


.showcase h1{
    color: white;
}

.outer{
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.outer > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .title{
    z-index: 2;
  }

.blob {
    z-index: 1;
    fill: var(--secondary-color);
    opacity: 80%;
    width: 80vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }

.initials{
    font-size: 92px;
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}


.showcase h2{
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    transition-duration: 0.8s;

}

.shifted-up{
    transform:  translateY(-25vh);
    transition-duration: 0.8s;
    text-align: left;
}

.shifted-up .initials{
    transition-duration: 0.8s;
}


.shifted-down{
    transform:  translateY(20vh);
    transition-duration: 0.8s;
    display: inline-block;
    text-align: right;
}

/* About */

.about{
    display: flex;
    justify-content: center;
    background-color:  rgba(255, 255, 255, 1);

}

.about .container{

    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
 

    color: var(--text-color);
    min-height: 100vh;
}

.about h1{
    color: var(--text-color);
    align-self: c;
}

.about h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.bio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
    width: 100%;
}

.bio .text{
    max-width: 600px;

}

.bio img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: var(--primary-color) solid 0.5px;
}

.bio .text a{
    margin-top: 10px;
    border-bottom: white solid 1px;
    display: block;
    width: fit-content;
    font-size: 1.1rem;
}

.bio .text a:hover{
    transform: none;
    border-bottom: var(--primary-color) solid 1px;
}

.image{
    min-width: 350px;
    height: 350px;
    background-color: var(--primary-color);
    border-radius: 50% 50% 52% 48% / 32% 40% 60% 68% ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 50px;

}

.experience{
  
    padding-bottom: 50px;
}

.job{
    padding: 25px 0px;
    
    border-bottom: var(--primary-color) 3px solid;
    display: flex;
}

.job h2{
    margin-bottom: 10px;
}

.job p{
    margin-top: 10px;
}

.header{
    
    min-width: 300px;

}

.skills{
    position: fixed;
    right: 0;
    top: 12.5vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}

.about .skills img{
    height: 75px;
}

/* Portfolio */
.projects .container{
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #fff;
    min-height: 100vh;
    background-color:  rgba(255, 255, 255, 0.75);

}

.projects .portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-bottom: 60px;
}

.projects .portfolio .project{
    width: 400px;
    padding: 15px;
    background-color: rgba(0, 18, 66, 0.8);
    border-radius: 10px;
}

.projects h2{
    font-size: 2rem;
}

.projects a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: transparent;
    border: white solid 2px;
    margin-bottom: 5px;
    color: white;
}

.projects .project a:first-child{
    padding: 0px;
}

.projects a:hover{
    transform: scale(1.02);
    transition-duration: 0.25s;
    color: var(--primary-color);
    border: var(--primary-color) solid 2px;
}

.project i{
    padding-right: 10px;
}

.projects img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.projects img:hover{
    padding: 1px;
    transition-duration: 0.25s;

}

/* Project */

.project .container{
    padding: 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: var(--text-color);
    min-height: 100vh;
    background-color:  rgba(255, 255, 255, 1);

}

.project h1{
    font-size: 40px;
}

.project .initials{
    font-size: 50px;
}

.project .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project .text{
    max-width: 90vw;
}

.project .info .line{
    height: 400px;
    width: 7.5px;
    background-color: var(--primary-color);
}


.project h2{
    margin: 20px 0px;
    font-size: 1.8rem;
    color: var(--primary-color);
}


.project .info img{
    height: 380px;
    align-self: center;
    margin-right: 40px;
    max-width: 90vw;
    object-fit: contain;
}

.project .info .text{
    margin-left: 40px;
}

.project .info a{
    font-size: 1.4rem;
    margin: 25px 0px;
    margin-right: 20px;
    width: max-content;
}

.project .info a:hover{
    transition-duration: 0s;
    border-bottom: var(--primary-color) solid 2px;
}

.project .languages{
    margin-top: 50px;
}

.project .languages img{
    height: 75px;
    margin: 20px;
}

/* Contact */
.contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
    background-color:  rgba(255, 255, 255, 0.75);
    overflow: hidden;

}

.contact .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition-duration: 0.8s;
    margin-top: 40px;
}

.contact h1{
    margin-top: 50px;

    color: white;
}

.contact a{
    font-size: 1.5rem;
    border: white solid 2px;
    color: white;
    padding: 10px;
    display: block;
}

.contact a span{
    color: var(--primary-color);
    font-weight: bold;
}

.contact .blob {
    z-index: 1;
    fill: var(--secondary-color);
    opacity: 80%;
    width: 60vmax;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }



/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 40;
    padding: 10px;
    
}

footer .social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer .social a{
    margin: 0px 10px;
    
}

@media(max-width: 1400px){
 

    .projects .portfolio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .project .info{
        flex-direction: column;
    }

    .project .line{
        display: none;
    }

    .project .languages{
        margin-bottom: 70px;

    }

    .blob {

        width: 100vmax;
       
      }

      .contact .blob{
        width: 80vmax;
      }

}

@media(max-width: 1000px){


    .about .container,
    .project .container{
        padding: 0px 20px;
        align-items: center;
    }

 


    /* About */
    .about .bio{

        flex-direction: column-reverse;
        margin: 30px 0px;
        gap: 20px;
    }


    .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-bottom: 10px;
    }



    .job{
        border-bottom: var(--primary-color) 3px solid;
        border-right: none;
        padding-bottom: 20px;
        text-align: center;
        padding-right: 0px;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }

  

    .bio{
        flex-direction: column;
        text-align: center;
        border-bottom: var(--primary-color) 3px solid;
        padding-bottom: 20px;
    }


    .image{
        margin-right: 0px;

    }

    .skills{
        position: inherit;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 70px;
        padding: 0;
        justify-items: center;
    }

   

    /* Project */

    .projects .portfolio{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .project .container{
        padding: 0px 20px;
        align-items: center;

    }


    .project .info .text,
    .project .info img{
        margin: 10px;
    }

    .project .info img{
        height:fit-content
    }

    .project .languages{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
    }


    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color:  rgba(0, 18, 66, 0.9);
        padding: 10px;
        margin: 0px;
    }

    footer .social{
        flex-direction: row;
    }

    .toggle{
        background-color:  rgba(0, 18, 66, 0.9);
        padding-left: 100%;
    }

    h1{
        font-size: 40px;
    }


    .initials{
        font-size: 50px;
    }

    .about h1,
    .projects h1,
    .contact h1,
    .project h1{
        padding-top: 50px;
    }
    
}

@media(max-width: 700px){

    .shifted-left,
    .shifted-right
    {
        visibility: hidden;
        transition: none;
    }

    .shifted-left .initials{
        transition: none;
    }


    h1{
        font-size: 45px;
    }

    .project h1{
        text-align: center;
    }

    .project .info .text a{
        font-size: 1rem;
    }


    .initials{
        font-size: 50px;
    }

    .contact{
        text-align: center;
    }

    .contact .info{
        gap: 15px;
    }

    .contact h1{
        width: max-content;
    }


    

    .contact a{
        font-size: 0.8rem;
        width: max-content;
    }

    .contact .blob{
        width: 100vmax;
      }


    .showcase h2{
        font-size: 32px;
    }

    .nav form{
        flex-direction: column;
    }

    /* about */
    .bio img{
        height: 200px;
        width: 200px;
       
    }
    
    .image{
        min-width: 250px;
        height: 250px;

    }




}

@media(max-width: 400px){
    h1{
        font-size: 30px;
    }

    .initials{
        font-size: 40px;
    }
}