{% include "header.html" %}

     <section class="about">
        <div class="container">
            <h1><span class="initials">A</span>bout <span class="initials">M</span>e</h1>
            <div class="bio">
                <div class="text">
                    <h2>BIO</h2>
                    <p>I am a self-taught software developer eagerly seeking my first position within the field. With eight years of hands-on experience in industrial automation, I bring a robust foundation in working with a diverse range of technologies. Throughout my professional journey, I've collaborated on projects involving industrial robots, autonomous mobile robots, building management systems, and PLCs. While cultivating my expertise, I've also delved into software development, driven by my passion for the craft. Proficient in Python, C#, JavaScript, HTML, CSS, and PostgresSQL, I have honed my skills with frameworks such as Flask, Node.js/Express.js, and React.js.</p>
                </div>
                <div class="image">
                    <img src="../static/img/me.png" alt="me">
                </div>
            </div>
            <div class="experience">
                <div class="job">
                    <div class="header">
                        <h2>Career Change</h2>
                        <h3>Software Developer</h3>
                        <h3>June 2023 - Present</h3>
                    </div>
                    <p>In May 2023, I embarked on a significant career transition, bidding farewell to my role to embrace full-time fatherhood to my one-year-old son while pursuing my aspiration of becoming a software developer. Over the past year, I dedicated myself to intensive learning, completing a rigorous 100-day Python bootcamp and comprehensive web development courses on Udemy. Notably, I spearheaded the development of a bespoke website for an automation company, a project that not only enhanced my programming skills but also provided invaluable experience in client collaboration. Additionally, I undertook various side projects encompassing website development, and desktop applications, further broadening my technical skillset.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>Iconsys</h2>
                        <h3>Controls Engineer</h3>
                        <h3>May 2021 - May 2023</h3>
                    </div>
                    <p>At Iconsys, I served as a Controls Engineer, specializing in the delivery of industrial and autonomous mobile robot projects. My role involved a spectrum of responsibilities, from creating RobotStudio simulations and conducting feasibility analyses to programming robots and overseeing building management systems. Noteworthy achievements include optimizing office comfort through the implementation of an automated blind control solution and implementing software upgrades for a PLC - Autonomous robot gateway software called AMRConnect, which resolved death-lock situations                    between robots.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>Wood PLC</h2>
                        <h3>Robotics Engineer</h3>
                        <h3>June 2018 - May 2021</h3>
                    </div>
                    <p>During my tenure at Wood PLC, I contributed to multiple production line installation projects across various Jaguar Land Rover sites. Primarily focused on virtual commissioning, on-site robot commissioning, and programming, I honed my expertise in diverse robot applications, including welding, riveting, and manual handling. Noteworthy accomplishments include devising innovative part-searching methodologies to improve cycle times and developing SafeMove solutions to ensure compliance with stringent safety regulations. My proactive approach in resolving collision issues significantly bolstered project efficiency and client satisfaction.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>ABB</h2>
                        <h3>Sales Support Engineer</h3>
                        <h3>September 2015 - May 2018</h3>
                    </div>
                    <p>As a Sales Support Engineer at ABB, I played a pivotal role in providing technical expertise to sales engineers, facilitating informed decision-making in project planning and execution. From creating RobotStudio simulations to conducting feasibility studies, I contributed to seamless project implementation. Notably, I spearheaded robot installations and leveraged my programming prowess to customize solutions tailored to client needs. Recognized for my proficiency, I assumed the role of a robot programming trainer, imparting knowledge through specialized courses. Additionally, my involvement in mentoring university students underscored my commitment to nurturing talent within the organization.</p>
                </div>
            </div>
            
            <div class="skills">
                <img src="../static/img/logos/python.png" alt="python logo">
                <img src="../static/img/logos/csharp.png" alt="csharp logo">
                <img src="../static/img/logos/html.png" alt="html logo">
                <img src="../static/img/logos/css.png" alt="css logo">
                <img src="../static/img/logos/js.png" alt="javascript logo">
                <img src="../static/img/logos/postgresql.png" alt="postgresql logo">
            </div>
        </div>
        
        
     </section>

{% include "footer.html" %}