{% include "header.html" %}

     <section class="about">
        <div class="container">
            <h1><span class="initials">A</span>bout <span class="initials">M</span>e</h1>
            <div class="bio">
                <div class="text">
                    <h2>BIO</h2>
                    <p>I'm a self-taught software developer who's looking for his first position within the field. I have eight years of experience in industrial automation. During my professional career, I worked with industrial robots, autonomous mobile robots, building managment systems, and PLCs. I also gained some experience in software developing. I'd like to change my carrier to do what I'm passionate about. During my journey, I familiarised myself with Python, C#, JavaScript, HTML, CSS and PostgresSQL. I worked with Flask, Node.js/Express.js and React.js frameworks.</p>
                </div>
                <div class="image">
                    <img src="../static/img/me.png" alt="me">
                </div>
            </div>
            <div class="experience">
                <div class="job">
                    <div class="header">
                        <h2>Career Change</h2>
                        <h3>Software Developer</h3>
                        <h3>June 2023 - Present</h3>
                    </div>
                    <p>On May 2023, I made the decision to hand in my notice to become a full-time dad for my one-year-old son and to be able to focus on becoming a software developer which I've been considering for a long time. I finished a 100-day long Python, a complete web development bootcamps and several other Udemy courses. I built a fully custom website for an automation company, which allowed me to gain experience on working with a customer on the top of improving my programming skills. I worked on multiple side projects which are includes websites, desktop application and games.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>Iconsys</h2>
                        <h3>Controls Engineer</h3>
                        <h3>May 2021 - May 2023</h3>
                    </div>
                    <p>My main responsibility was to deliver industrial and autonomous mobile robot projects, which includes creating RobotStudio simulations, supporting mechanical design engineers in the designing phase with robot selection and feasibility analyses, creating risk assessments and programming the robots. I oversaw the office's building management system and managed to increase the comfort of my colleagues by implementing an automated blind control solution. I became the product owner of the AMRConnect software which is a gateway between autonomous mobile robots and PLCs, it also collects statistics about the robots. The software is written in C# and uses RestApi to communicate with the robots.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>Wood PLC</h2>
                        <h3>Robotics Engineer</h3>
                        <h3>June 2018 - May 2021</h3>
                    </div>
                    <p>I worked on multiple production line installation projects in various Jaguar Land Rover sites. My main duties were virtual commissioning and on site robot commissioning, robot programming and testing. I familiarised myself with several different robot application like welding, riveting, sealing, manual handling. I managed to improve the cycle time of multiple robot cells by developing a new part-searching method which helped to achieve the customer's requirement. I created several SafeMove solutions which helped to pass the customer's safety buyout. I helped to solve collision problems by re-creating the collision zones for multiple robot cells.</p>
                </div>
                <div class="job">
                    <div class="header">
                        <h2>ABB</h2>
                        <h3>Sales Support Engineer</h3>
                        <h3>September 2015 - May 2018</h3>
                    </div>
                    <p>My main duty was to provide technical support for sales engineer, which included creating RobotStudio simulation, doing feasibility studies and selecting the right robot for the job. I was involved in several robot installation where I was responsible for programming the robots. Gaining experience in programming allowed me to become a robot programming trainer within the company and taught several courses. I mentored two university students within ABB's mentor program and I was the tutor of their thesis's.</p>
                </div>
            </div>
            
            <div class="skills">
                <img src="../static/img/logos/python.png" alt="python logo">
                <img src="../static/img/logos/csharp.png" alt="csharp logo">
                <img src="../static/img/logos/html.png" alt="html logo">
                <img src="../static/img/logos/css.png" alt="css logo">
                <img src="../static/img/logos/js.png" alt="javascript logo">
                <img src="../static/img/logos/postgresql.png" alt="postgresql logo">
            </div>
        </div>
        
        
     </section>

{% include "footer.html" %}