{% include "header.html" %}

     <section class="contact">
        <div class="container">
            <h1><span class="initials">C</span>ontact <span class="initials">M</span>e</h1>
            <div class="info">
                <a href="mailto: tamas.nemeth@tnemeth.co.uk"><span>Email: </span>tamas.nemeth@tnemeth.co.uk</a>
                <a href="tel: +44 7387788097"><span>Phone: </span>+44 7387 788097</a>  
            </div>
                        
        </div>
        
        
     </section>

 {% include "footer.html" %}