<footer>
    <div class="social">
        <a href="https://www.linkedin.com/in/tam%C3%A1s-n%C3%A9meth-0b23a012b/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/nemetht91?tab=repositories" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
        <a href="mailto: tamas.nemeth@tnemeth.co.uk" class="email-icon"><i class="fa-solid fa-at fa-2x"></i></a>
    </div>
 </footer>
 <script src="../static/js/script.js" charset="UTF-8"></script>

</body>
</html>