{% include "header.html" %}

     <section class="projects">
        <div class="container">
            <h1><span class="initials">P</span>ortfolio</h1>
            <div class="portfolio">
                <div class="project">
                    <a target="_blank" href="{{ url_for('get_project') }}"><img src="../static/img/projects/automationX.png" alt="Automation X website"></a>
                    <a target="_blank" href="{{ url_for('get_project') }}"><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Automation-X" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a target="_blank" href="https://replit.com/@TamasNemeth5/TypingSpeed-1"><img src="../static/img/projects/typingspeed.png" alt="typingspeed checker app"></a>
                    <a target="_blank" href="https://replit.com/@TamasNemeth5/TypingSpeed-1"><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/TypingSpeed" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a target="_blank" href=""><img src="../static/img/projects/watermark.png" alt="watermark editor"></a>
                    <a target="_blank" href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Watermark-Editor" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a target="_blank" href=""><img src="../static/img/projects/tictac.png" alt="tic tact toe game"></a>
                    <a  target="_blank" href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/TicTacToe" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a target="_blank" href=""><img src="../static/img/projects/tetris.png" alt="Automation X website"></a>
                    <a target="_blank" href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Tetris" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>

                
            </div>
            
   
        </div>
        
        
     </section>

 {% include "footer.html" %}