<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamas Nemeth</title>
    <link rel="image_src" href="../static/img/robot1.jpg" />
    <link rel="image_src" href="../static/img/robot2.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar-->
    <section class="navbar">
        <div class="toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav hidden">
            <div class="push"></div>
            <form action="">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About me</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="contact.html">Contact me</a></li>
                </ul>
            </form>
            <div class="push"></div>
        </div>
     </section>

     <section class="projects">
        <div class="container">
            <h1><span class="initials">M</span>y <span class="initials">P</span>ortfolio</h1>
            <div class="portfolio">
                <div class="project">
                    <a href=""><img src="../static/img/projects/automationX.png" alt="Automation X website"></a>
                    <a href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Automation-X" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a href=""><img src="../static/img/projects/typingspeed.png" alt="typingspeed checker app"></a>
                    <a href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/TypingSpeed" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a href=""><img src="../static/img/projects/watermark.png" alt="watermark editor"></a>
                    <a href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Watermark-Editor" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a href=""><img src="../static/img/projects/tictac.png" alt="tic tact toe game"></a>
                    <a href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/TicTacToe" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                <div class="project">
                    <a href=""><img src="../static/img/projects/tetris.png" alt="Automation X website"></a>
                    <a href=""><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="https://github.com/nemetht91/Tetris" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>

                
            </div>
            
   
        </div>
        
        
     </section>

     <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/tam%C3%A1s-n%C3%A9meth-0b23a012b/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/nemetht91?tab=repositories" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
            <a href="mailto: tamas.nemeth@tnemeth.co.uk" class="email-icon"><i class="fa-solid fa-at fa-2x"></i></a>
        </div>
     </footer>
     <script src="../static/js/script.js" charset="UTF-8"></script>

</body>
</html>