{% include "header.html" %}

     <section class="projects">
        <div class="container">
            <h1><span class="initials">P</span>ortfolio</h1>
            <div class="portfolio">
                {% for project in projects %}
                <div class="project">
                    <a href="{{ url_for('get_project', project_id=project.id) }}"><img src="{{ project.img_url }}" alt="{{ project.title }}"></a>
                    <a href="{{ url_for('get_project', project_id=project.id) }}"><i class="fa-solid fa-eye fa-2x"></i>View</a>
                    <a href="{{ project.github_url }}" target="_blank"><i class="fa-brands fa-github fa-2x"></i>Github</a>
                </div>
                {% endfor %}
            </div>
            
   
        </div>
        
        
     </section>

 {% include "footer.html" %}