{% include "header.html" %}

     <section class="project">
        <div class="container">
            <h1><span class="initials">{{ project.title[0] }}</span>{{ project.title[1:] }}</h1>
            <div class="info">
                <img src={{project.img_url}} alt={{project.title}}>
                <div class="line"></div>
                <div class="text">
                    <div>
                        <h2>Description</h2>
                        <p>{{ project.description }}</p>
                    </div>
                    <div>
                        <h2>Challenges</h2>
                        <p>{{ project.challenges }}</p>
                    </div>
                    <div>
                        {% if project.website %}
                        <a target="_blank" href={{project.url}}>{{ project.url }}/</a>
                        {% else %}
                        <a target="_blank" href={{project.url}}>Download/</a>
                        {% endif %}
                    </div>
                </div> 
            </div>
            <div>
                <div class="languages">
                    <img src="../static/img/logos/python.png" alt="python logo">
                    <img src="../static/img/logos/html.png" alt="html logo">
                    <img src="../static/img/logos/css.png" alt="css logo">
                    <img src="../static/img/logos/js.png" alt="javascript logo">
                </div>
            </div>
                            
        </div>
        
        
     </section>

 {% include "footer.html" %}