{% include "header.html" %}

     <section class="project">
        <div class="container">
            <h1><span class="initials">A</span>utomation X <span class="initials">W</span>ebsite</h1>
            <div class="info">
                <img src="../static/img/projects/automationX.png" alt="Automation-X website">
                <div class="line"></div>
                <div class="text">
                    <div>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum illo vitae, aperiam eaque quos deleniti, quis recusandae repudiandae maiores nemo esse eligendi expedita delectus molestiae vel vero error obcaecati labore blanditiis laboriosam, cum eos voluptate earum! Sunt, distinctio. Adipisci est hic vel eius qui quibusdam tenetur mollitia quia labore esse!</p>
                    </div>
                    <div>
                        <h2>Challenges</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, nisi deleniti. Esse, officia. Accusantium natus qui dignissimos, accusamus magni aut sequi molestiae! Accusamus ipsa voluptatibus impedit quis vel facilis tenetur, repudiandae natus. Labore, voluptatum voluptas. Magnam nesciunt maiores corrupti non saepe, inventore tempore et. Illum earum suscipit dolores doloremque accusantium!</p>
                    </div>
                    <div>
                        <a target="_blank" href="https://automation-x-test-server.onrender.com">https://automation-x-test-server.onrender.com/</a>
                    </div>
                </div> 
            </div>
            <div>
                <div class="languages">
                    <img src="../static/img/logos/python.png" alt="python logo">
                    <img src="../static/img/logos/html.png" alt="html logo">
                    <img src="../static/img/logos/css.png" alt="css logo">
                    <img src="../static/img/logos/js.png" alt="javascript logo">
                </div>
            </div>
                            
        </div>
        
        
     </section>

 {% include "footer.html" %}